white = #fff
black = #000

sidebar_bg = #242b2e
sidebar_font = #6b7072

light = 300
normal = 400
medium = 500
semibold = 600
bold = 700

bp_small = 320px
bp_small_2 = 480px
bp_small_3 = 568px
bp_medium = 640px
bp_medium_2 = 768px
bp_large = 1024px

@font-face
    font-family 'Roboto'
    src url("../../fonts/Roboto-Regular.ttf") format("ttf")